.form-container {
  height: 167px;
  background-color: #fff;
  width: 73.5%;
}
.form-header-conteiner {
  display: flex;
  height: 115px;
  align-items: center;
  position: relative;
}
.form-header {
  font-family: system-ui;
  font-size: 46px;
  font-weight: 200;
  margin: 3px 0 0 48px;
  letter-spacing: -0.05rem;
}
.form-steps {
  display: flex;
  height: 52px;
  align-items: center;
}
.form-steps > div {
  font-family: system-ui;
  margin: 0 0 8px 53px;
  font-size: 19px;
}

.field-box__input-error {
  border: 1px solid red;
  border-radius: 2px;
}
.field-box__error-text {
  color: red;
  font-size: 12px;
  bottom: 30px;
  position: absolute;
}
.field-box__title_container {
  position: relative;
  width: 100%;
  padding-left: 72px;
}
