.form-header-conteiner {
  display: flex;
  height: 115px;
  align-items: center;
}
.form-header {
  font-family: system-ui;
  font-size: 46px;
  font-weight: 200;
  margin: 3px 0 0 48px;
  letter-spacing: -0.05rem;
}
.form-steps {
  display: flex;
  height: 52px;
  align-items: center;
}
.form-steps > div {
  font-family: system-ui;
  margin: 0 0 8px 53px;
  font-size: 19px;
}
