.form-container {
  flex-basis: 73.5%;
  background-color: #fff;
}
.form-header-conteiner {
  display: flex;
  height: 115px;
  align-items: center;
  background-color: blueviolet;
}
.form-header {
  font-family: system-ui;
  font-size: 46px;
  font-weight: 200;
  margin: 3px 0 0 48px;
  letter-spacing: -0.05rem;
}
.form-steps {
  background-color: burlywood;
  display: flex;
  height: 52px;
  align-items: center;
}
.form-steps > div {
  font-family: system-ui;
  margin: 0 0 8px 53px;
  font-size: 19px;
}

.chat-container {
  flex-basis: 25%;
  background-color: #fff;
}
