.personal-data-form {
  flex-direction: column;
  display: flex;
  overflow: auto;
  height: 488px;
  background-color: #fff;
}
.personal-data-form-container {
  position: relative;
  width: 73.5%;
}
.data-form {
  padding-left: 53px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-input {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 4px;
}

.data-form-title {
  display: flex;
  height: 50px;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 14px;
}
.field-box__input {
  width: 75.1%;
  height: 28px;
}
.text-aria {
  height: 150px;
}
.data-birthday > .field-box__input {
  width: 20%;
  height: 27px;
}
.text-aria > .field-box__input {
  height: 140px;
}
.field-box__input.select {
  width: 20%;
  height: 27px;
}
.data-form > div > label {
  width: 270px;
  font-size: 15px;
}

.form-footer {
  position: absolute;
  background-color: #fff;
  width: 885px;
  height: 80px;
  top: 488px;
  left: 0;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  border: none;
  margin-right: 115px;
  width: 125px;
  height: 45px;
  border-radius: 5px;
  background-color: #19cbac;
  border-bottom: 2px solid #13a088;
  font-size: 18px;
  color: #ffff;
}
.text-submit-btn {
  text-shadow: -0.6px -0.6px 0px rgb(0 0 0 / 73%);
}

.btn-change {
  color: #19cbac;
  font-size: 14px;
  cursor: pointer;
}
.table-data {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
