.table-info {
  display: flex;
  justify-content: center;
}
.table-output-info {
  width: 82px;
  height: 30px;
  border: 1px solid rgb(255, 224, 224);
  cursor: pointer;
  display: flex;
  font-size: 12px;
}
.table-output-info.tr-element {
  height: 43px;
}
.table-header {
  font-size: 12px;
}
